.content{
    color: blue;
    background-color: rgb(129, 155, 91);
     
}
body{
    background-color: lightblue;
}
.nav{
    background-color: blueviolet;
    color: #fff;
    height: 20px;
    width: 100px;
    border: 2px solid #fff;
    box-sizing: content-box;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    cursor: pointer;
}
img{
    opacity: 0.5;
    transition: width 2s, height 2s, transform 2s;

}
img{
    border: 2px solid blue;
    border-radius: 5px;
}
img:hover{
    opacity: 1.0;
    width: 600px;
    height: 400px;
    cursor: pointer;
}
.two-items{
    display: flex;
    margin: 5px;

}
.flex-box3{
    align-items: center;
    align-content: center;
    color: aliceblue;
    background-color: rgba(0, 8, 6, 0.986);
    border: solid blue;
    flex-grow: 1;
    margin: 5px;
    width: 33%;
}

.flex-box1{
    align-items: center;
    align-content: center;
    color: aliceblue;
    background-color: rgba(0, 8, 6, 0.986);
    border: solid blue;
    flex-grow: 1;
    margin: 5px;
    width: 34%;
}
.flex-box2{
    align-items: center;
    align-content: center;
    color: aliceblue;
    background-color: rgba(0, 8, 6, 0.986);
    border: solid blue;
    flex-grow: 1;
    margin: 5px;
    width: 33%;
}
